#title{
    text-align: center;
    background-color: azure;
}

body{
    background-color: antiquewhite;
}

#january{
    text-align: center;
    background-color: azure;
}

#menu{
        text-align: center;
        background-color: azure;
}

#simulation{
    
    border: 2px solid;
    border-color: black;
    
}

h3{
    text-align: center;
}

